.details-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 4rem;
    margin-right: 4rem;
}

.details-container img {
    width: 14rem;
    border-radius: 1rem;
}

.machine_description {
    width: 80%;
}

.circular {
    background-color: rgba(255, 255, 255, 0.247);
    text-align: center;
    width: 150px;
    padding: 2rem 1rem;
    border-radius: 2rem;
}

.temp_details {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.116);
    margin-top: 20px;
    display: flex;
}

.temp_details_icon {
    font-size: 22px;
    margin-right: 10px;
}

.inspection {
    margin-left: 2rem;
    color: #fff;
}
