.sources_statistics {
    width: 100%;
    margin-top: 1rem;
}

.pv,
.grid,
.generator {
    width: 20%;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.13);
    padding: .5rem;
    margin-top: 10px;
    height: 10rem;
}

.energie_statics {
    display: flex;
}

.statistics_title {
    display: flex;
    justify-content: space-between;
}

.energie_level {
    margin-top: .4rem;
    display: flex;
    background-color: rgba(255, 255, 255, 0.151);
    box-shadow: 0 0 20px #00000038;
    padding: 1rem;
    height: 6rem;
}

.energie_level .level_icon {
    width: 100px;
}

.statistic_bar {
    width: 50%;
    margin: 0;
    height: 2rem;
    color: #fff;
}